<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hello Vue World</title>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<!-- Importo il file di Vue.js -->
	<script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
	
	<!-- Creo un contenitore per la mia applicazione -->
	<!-- Tutto l'html andrà qui dentro -->
	<div id="app">

		<!-- Interpolazione data -->
		<h1>Hello {{ firstName }} {{ lastName }}!</h1>

		<!-- :proprieta per collegare un attributo html a un data -->
		<h2 :class="titleClass">{{ message }}</h2>

		<!-- v-model per collegare il value al data -->
		<br>
		<input type="text" placeholder="Scrivi il tuo nome" v-model="firstName">
		<input type="text" placeholder="Scrivi il tuo cognome" v-model="lastName">
		<br><br>
		
		<!-- @click per gestire l'evento di click -->
		<button @click="stampaMsg('ciao')">Stampa cose</button>
		<br><br>

		<input type="text" v-model="titleClass">
		<button @click="cambiaColore">Cambia colore</button>
	</div>
	
	<!-- Carico il mio file js, che avvia l'applicazione -->
	<script src="./js/main.js"></script>
</body>
</html>


